/* Descriptive colors */
/* Color usage */
/* $colorBase: $randomColor; */
.svgLogoText {
  fill: #E71D36; }

#service .service-item i {
  color: #E71D36 !important; }

#call-to-action:before {
  background: #E71D36 !important; }

#global-header:before {
  background: linear-gradient(to left, #E71D36, #1f1c2c 70%) !important; }

#slider:before {
  background: linear-gradient(to left, #E71D36, #322e40) !important; }

#global-header {
  background: url("../images/headerimage3.jpg") no-repeat !important;
  background-size: cover !important;
  padding-top: 150px !important;
  padding-bottom: 107px !important;
  position: relative !important;
  background-attachment: fixed !important; }

#slider {
  background: url("../images/headerimage3.jpg") no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: 10% 0% !important;
  padding: 200px 0 280px 0 !important;
  position: relative !important; }

#call-to-action {
  background: url("../images/headerimage3.jpg") no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  padding: 70px 0px !important;
  position: relative !important;
  text-align: center !important;
  color: #fff !important; }
